header {
    width: 100%;
    height: 120px;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background: rgba(41, 49, 66, 0.418);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

header .content {
    height: 100%;
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
}

.menu {
    height: 100%;
    display: flex;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
    column-gap: 10px;
}

.menu li {
    height: 100%;
}

.menu a {
    font-family: Roboto, sans-serif;
    display: block;
    color: white;
    height: 100%;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 5px;
}

.menu a:hover {
    color: rgb(83, 95, 255);
    border-bottom: 1px solid rgb(83, 95, 255);
    transition: all 300ms;
}